.container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 30px;
}

.text {
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid $grey;
  @include text;
  height: 100%;
  padding-bottom: 10px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}

.label {
  color: $grey;
  @include text;
  position: absolute;
  top: -32px;
}

.list {
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  &__item {
    color: $grey;
    margin-top: 7px;
    @include text;
    padding: 5px 0px;
    transition: all 0.3s linear;
    &:hover {
      background-color: $blue-lighten;
      cursor: pointer;
      border-radius: 5px;
      padding-left: 5px;
    }
  }
}

@include sm {
  .list {
    position: static;
    margin-top: 15px;
  }
}

select {
  background-color: #2d313d;
  color: $grey;
  margin-top: 7px;
  @include text;
  padding: 20px 0px;
  transition: all 0.3s linear;
  border: none;
  border-bottom: 1px solid $grey;
}
